body {
  background-color: black;
  margin: 0;
  overflow: hidden;
}

#mainframe {
  display: block;
}

#hud {
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  font-family: sans-serif;
}

#hud #inventory ul {
  margin-top: 10px;
  margin-left: 20px;
  padding-left: 0;
}
